<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HostsConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Store\Vinitha\SocietyGenerale\Project\ServerHealthTracker\ServerInformationStorage\Hosts.mdf;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="AllHosts" value="Select * from Hosts"/>
    <add key="AddServer" value="INSERT INTO Hosts VALUES (@hostName)"/>
    <add key="GetServerInformation"  value="SELECT HostName ,ProcessorUsage, MemoryUsage ,Time FROM Hosts INNER JOIN HostsInformation ON Hosts.HostName =@hostName"/>
    <add key="SetServerInformation"  value="INSERT INTO HostsInformation(HostId ,ProcessorUsage,MemoryUsage,Time) VALUES((Select Id FROM Hosts WHERE HostName=@hostName),@processorUsage,@memoryUsage,convert(datetime,@time))"/>
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="ServerInformationStorage.ServerInformationSetter">
        <endpoint address="ServerInformationProcessor" binding="basicHttpBinding"
          contract="ServerInformationStorage.IServerInformationSetter">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8090/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServerInformationStorage.ServerInformationProvider">
        <endpoint address="ServerInformationProvider" binding="basicHttpBinding"
                  contract="ServerInformationStorage.IServerInformationProvider">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8070/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
