<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServerInformationProvider" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8070/ServerInformationProvider"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServerInformationProvider"
                contract="ServerInformationProviderReference.IServerInformationProvider"
                name="BasicHttpBinding_IServerInformationProvider" />
        </client>
    </system.serviceModel>
</configuration>