<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServerHealth" />
                <binding name="BasicHttpBinding_IServerInformationSetter" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ServerHealth" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServerHealth" contract="ServerHealthReference.IServerHealth"
                name="BasicHttpBinding_IServerHealth" />
            <endpoint address="http://localhost:8090/ServerInformationProcessor"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServerInformationSetter"
                contract="ServerInformationReference.IServerInformationSetter"
                name="BasicHttpBinding_IServerInformationSetter" />
        </client>
    </system.serviceModel>
</configuration>